/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f9; */
}

.mainDiv{
  display: flex;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.blastImage{
  margin-top: 60px;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 8px 0 0 8px;
}
.predict{
 background-color: white;
}
.container {
  margin: 0 auto;
  padding: 20px;
  /* background-color: #fff; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  color: #444;
  margin-bottom: 8px;
}

/* Form Styling */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  margin-top: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

/* Result Section Styling */
.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result table {
  width: 100%;
  border-collapse: collapse;
}

.result th, .result td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.result th {
  background-color: #f2f2f2;
}

.model-result {
  margin-bottom: 15px;
  background-color: #e9f7fd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.model-result h4 {
  font-size: 18px;
  color: #007bff;
}

.model-result p {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-top: 5px;
  line-height: 1.5;
}

.model-result p span {
  font-weight: 700;
  color: #007bff;
}
